/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */


  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight:400;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke:1px transparent;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* box-sizing reset */

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

button {
   background:none!important;
   color:inherit;
   border:none;
   font: inherit;
   color:#2F3140;
   cursor: pointer;
   text-decoration: none;
   border-radius:40px;
   border:2px solid rgba(47,49,64,255);
   text-align: center;
   padding:6px 20px;
  margin:20px 0 0 82px;
}

button:hover{
color:#4700B2;
border:2px solid #4700B2;

}

/*------------------------------------*\
  $MAIN
\*------------------------------------*/



  body{
    font-family:Arial, serif;
    font-weight: 400;
    line-height:1.3;
    font-size:18px;
    background-color: #F2F2F2;
    color:#333333;
    }

    img{
      width:100%;
      padding:0 0 30px 0;
    }


    
    .logo{
      position:fixed;
      left:50%;
      width:300px;
      top:60px;
      padding:0;
      z-index:-9;
      transform: translate(-50%, 0);
    }

    .footer{
      top:inherit;
      bottom:60px;
    }

    .label{
  
      padding:3px;
      border-radius:4px;
      line-height:100%;
      vertical-align: middle;
      display:inline-block;
    }

    .label > p {
      white-space: normal;
      font-weight: 800;
      font-size:14px;
      color:#ffffff;
    }

    .projectcontent > p{
      margin-bottom:60px;
      line-height: 150%;
    }
    .label.film{
      /* background-color:#467AD2; */
      background-color:#467AD2;
    }

    .label.fashion{
      /* background-color:#BD271A; */
      background-color:#6252A2;
    }

    .label.workshops{
      /* background-color:#78A65A; */
      background-color:#7BA95E;
    }

    .label.exhibitions{
      /* background-color:#FA9F45; */
      background-color:#F06222;
    }

    .label.theatre{
      /* background-color:#78A65A; */
      background-color: #FFBA00;
    }

    .label.puppets{
      /* background-color:#F08E81; */
      background-color:#EE659A;
    }

    .label.personal{
      /* background-color:#F08E81; */
      background-color:#547D9A;
    }

    .label.other{
      background-color:#333333;
    }


    .titlewrapper{
      /* display:flex; */
    }

    .projecttitle{
      display:block;
      vertical-align: middle;
      margin-bottom:4px;
    }

    #paper{
      margin:242px 10px 242px;
      background-color: white;
      border-radius: 2px;
      padding:30px 30px 10px;
      max-width: 1200px;
      box-shadow: 0px 0px 16px rgba(17,17,26,0.1);
    }

    .project-grid{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      justify-items: start;

    }

    .project-grid > li {
      align-self: start;
    }

    .project-grid > li > a {

    text-decoration: none;
    }

    .project-grid img {
      padding: 0 0 10px 0;
      }
    
    section{
      margin:0 0 30px 0;
    }

    .top{
      padding:0;
    }


    .year-title{
      padding:0 0 20px 0;
      font-weight:800;

    }

    .project{
      padding:0 0 20px 0;
      font-weight:800;
    }

    .small{
      padding:4px 0 0;
      font-size:14px;
      font-weight:800;
    }

    .backlink{
      padding:0 0 30px 0;
    }

    /* Colours */

    a{
      color:inherit;
    }

    .film{
      /* color:#467AD2; */
      color:#467AD2;
    }

    .fashion{
      /* color:#BD271A; */
      color:#6252A2;
    }

    .workshops{
      /* color:#78A65A; */
      color:#7BA95E;
    }

    .exhibitions{
      /* color:#FA9F45; */
      color:#F06222;
    }

    .theatre{
      /* color:#78A65A; */
      color: #FFBA00;
    }

    .puppets{
      /* color:#F08E81; */
      color:#EE659A;
    }
    
    .personal{
      /* color:#F08E81; */
      color:#547D9A;
    }

    .other{
      color:#333333;
    }


    h1.projecttitle{
      font-size:22px;
      display:block;
      font-weight:800;
    }
    
    .big > p{
      font-size:16px;
    }

  /* Videos */
  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin:0 0 60px 0;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


  

  @media only screen and (min-width: 600px) {

  body{
  font-size:24px;
  }

  #paper{
    margin:242px 60px 242px;
    padding:60px 60px 30px;
    }

    section{
      margin:0 0 80px 0;
    }

    /* .small{
      font-size:14px;
    } */

    .label{
      display:inline-block;
      white-space: nowrap;
    }





    .projecttitle{
      display:inline-block;
    }

    img{
      padding:0 0 60px 0;
    }


    .backlink{
      padding:0 0 60px 0;
    }

    .project-grid{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      justify-items: start;

    }
}

@media only screen and (min-width: 900px) {


  h1.projecttitle{
    font-size:28px;
    max-width:66%;
    font-weight:800;
  }

  .big{
    float:left;
  }

  .big > p{
    font-size:20px;
  }


}


@media only screen and (min-width: 1320px) {

  #paper{
    margin:242px auto 242px;

  }

  .project-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: start;

  }

}