<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="/assets/main.css">
  <!-- <script type="text/javascript" src="/assets/outline.js-master/outline.js" async></script> -->
  <!-- <script type="text/javascript" src="/assets/scripts.js" async></script> -->


	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	{% seo %}

</head>
<body>
<img class="logo" src="/assets/II_Logo.svg" alt="Isobel Irwin Logo">

	<section id="paper">

		<section class="top">
			<div class="bio">
				<h1>Hello! I’m Isobel. </h1>
				<p>I make props, puppets and run workshops. </p>
				<p>You can contact me at <a href="mailto:isobelgeorginairwin@gmail.com">{{site.email}}</a>.</p>
			</div>

		</section>
		
		<!-- Featured -->

		<section>

			<ul class="project-grid">

			{% for post in site.posts %}
			{% if post.featured == true %}
			


			<li class="project {{ post.category }}">
				{% if post.project_page == true %}
				<a href="{{ post.url }}">
			{% endif %}
				<img src="{{post.featured_image}}">
				<p class="small">{{ post.role }}</p>
			<div class="titlewrapper">
			<h3 class="projecttitle">
				{{ post.title }}
			</h3>
				<div class="label {{ post.category }}"><p class="label">{{ post.client }}</p></div>
			</div>
			{% if post.project_page == true %}
			</a>
			{% endif %}
			</li>


		  {% endif %}
		{% endfor %}
			</ul>
	</section>
	
		<!-- CV Part -->

			{% for post in site.posts  %}
				{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
				{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

				{% if forloop.first %}
					<section class="year">
					<h2 class="year-title" id="{{ this_year }}-ref">{{this_year}}</h2>
					<ul>
				{% endif %}

				<li class="project {{ post.category }}">

					<p class="small">{{ post.role }}</p>
				<div class="titlewrapper">
				<h3 class="projecttitle">
					{% if post.project_page == true %}
						<a href="{{ post.url }}">{{ post.title }}</a>
					{% else %}
						{{ post.title }}
					{% endif %}
				</h3>
					<div class="label {{ post.category }}"><p class="label">{{ post.client }}</p></div>
				</div>

				</li>

				{% if forloop.last %}
				</ul>
				</section>

				{% else %}
					{% if this_year != next_year %}
						</ul>
						</section>
						<section class="year">
						<h2 class="year-title" id="{{ next_year }}-ref">{{next_year}}</h2>
						<ul>
					{% endif %}
				{% endif %}
			{% endfor %}






	</section>



</body>
</html>
