{% include header.html %}


		<section class="top">
			<div class="bio">
				<h1>Hello! I’m Isobel. </h1>
				<p>I make props, puppets and run workshops. </p>
				<p>You can contact me at <a href="mailto:isobelgeorginairwin@gmail.com">{{site.email}}</a>.</p>
			</div>

		</section>
		
		<!-- Featured -->

		<section>

			<ul class="project-grid">

			{% for post in site.posts %}
			{% if post.featured == true %}
			


			<li class="project {{ post.category }}">
				{% if post.project_page == true %}
				<a href="{{ post.url }}">
			{% endif %}
				<img src="{{post.featured_image}}">
				<!-- <p class="small">{{ post.role }}</p> -->
			<div class="titlewrapper">
				<!-- <div class="label {{ post.category }}"><p>{{ post.client }}</p></div> -->
			<h3 class="projecttitle">
				<!-- {% if post.featured_title %} -->
				{{ post.featured_title }}
				<!-- {else}
				{{ post.title }}
				{% endif %} -->
			</h3>
			</div>
			{% if post.project_page == true %}
			</a>
			{% endif %}
			</li>


		  {% endif %}
		{% endfor %}
			</ul>
	</section>
	
		<!-- CV Part -->


		{% assign postsByYear =
			site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
		{% for year in postsByYear %}
		<section class="year">
			<h2 class="year-title" id="{{ this_year }}-ref">{{ year.name }}</h2>
			<ul>
			  {% for post in year.items reversed %}
			  <li class="project {{ post.category }}">

				<p class="small">{{ post.role }}</p>
			<div class="titlewrapper">
			<h3 class="projecttitle">
				{% if post.project_page == true %}
					<a href="{{ post.url }}">{{ post.title }}</a>
				{% else %}
					{{ post.title }}
				{% endif %}
			</h3>
			{% if post.client == blank or post.client == " "  or post.client == "" %}
				{% else %}
				<div class="label {{ post.category }}"><p>{{ post.client }}</p></div>
			{% endif %}
			</div>

			</li>
			{% endfor %}
			</ul>
		</section>

		{% endfor %}

{% include footer.html %}