{% include header.html %}

	<section>

	<h1 class="projecttitle {{ page.category }}">
		{{ page.title }}
	</h1>

		<div class="big label {{ page.category }}"><p class="label">{{ page.client }}</p></div>


	</section>
	<section class="projectcontent">
	{% if page.featured == true %}
	<img src="{{ page.featured_image}}">

  	{% endif %}

	  {{page.content}}


	{% if page.vimeo_videos == true %}
		{% for ID in page.vimeo_ids %}
		<div class="resp-container">
		<iframe src="https://player.vimeo.com/video/{{ID}}" class="resp-iframe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div>
		{% endfor %}
  	{% endif %}


	  {% if page.youtube_videos == true %}
	  {% for ID in page.youtube_ids %}
	  <div class="resp-container">
		<iframe class="resp-iframe" src="https://www.youtube.com/embed/{{ID}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </div>
	  {% endfor %}
	{% endif %}


	</section>
	  {% include footer.html %}