{% include header.html %}

	<section>

	<h3 class="projecttitle">
		{{ page.title }}
	</h3>
		<div class="label {{ page.category }}"><p class="label">{{ page.client }}</p></div>


	</section>
	
	{% if page.featured == true %}
	<img src="{{ page.featured_image}}">

  	{% endif %}

	{{page.content}}

	{% if page.vimeo_videos == true %}
		{% for ID in page.vimeo_ids %}
		<div class="resp-container">
		<iframe src="https://player.vimeo.com/video/{{ID}}" class="resp-iframe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div>
		{% endfor %}
  	{% endif %}


	  {% include footer.html %}