{% include header.html %}

	<section class="pageheader">

	<h1 class="projecttitle {{ page.category }}">
		{{ page.title }}
	</h1>

	

	{% if page.client == blank or page.client == " " or page.client == ""  or page.client == '' %}
	{% else %}
	<div class="big label {{ page.category }}"><p class="label">{{ page.client }}</p></div>
	{% endif %}



	</section>
	<section class="projectcontent">
	<!-- {% if page.featured == true %}
	<img src="{{ page.featured_image}}">

	  {% endif %} -->
	  
	  {{page.content}}

	  {% if page.vimeo_videos == true %}
	  {% for ID in page.vimeo_ids %}
	  <div class="resp-container">
	  <iframe src="https://player.vimeo.com/video/{{ID}}" class="resp-iframe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	  </div>
	  {% endfor %}
	{% endif %}


	{% if page.youtube_videos == true %}
	{% for ID in page.youtube_ids %}
	<div class="resp-container">
	  <iframe class="resp-iframe" src="https://www.youtube.com/embed/{{ID}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	{% endfor %}
  {% endif %}


  {% if page.images %}
  <div class="flexslider">
    <ul class="slides">
      {% for slide in page.images %}
      <li>
        <img src="{{ slide }}">
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="delete-on-mob" class="custom-navigation">
	<a href="#" class="flex-prev">Prev</a>
	<a href="#" class="flex-next">Next</a>
  </div>
  {% endif %}



	</section>

	  {% include footer.html %}

